body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border: 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area{
    display: ;
   
}
.status{
    padding: 30px;
    margin: 0px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.deposite{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}